services:
  # --- DATABASE POSTGRESQL ---
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # --- DB PGADMIN ---
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - db
  
  # --- CACHE / BROKER REDIS---
  redis:
    image: redis:7-alpine
    restart: always

  # --- BACKEND (API) ---
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
  
  # --- CELERY WORKER ---
  worker:
    build:
      context: .
      dockerfile: backend/Dockerfile
    restart: always
    # Переопределяем команду запуска для воркера
    command: uv run celery -A src.core.celery_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - db

volumes:
  postgres_data:

